body {
    background-color: #1C1C1F;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
}

h1 {
    color: white;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
}

hr {
    border-top: 2px solid #eee;
    margin: 1rem 0;
}

strong {
    padding: 0 0.5rem;
    margin: 1rem 0 0;
    display: block;
}

.center-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.logo-nav{
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
}

.logo-nav-column{
    flex: 1;
}

.logo-nav-right{
    text-align: right;
}

.logo-nav-center{
    text-align: center;
}

.flex-nav{
    display: flex;
    font-size: 18px;
}

.flex-nav-column {
    flex: 1;
}

.flex-nav-center {
    text-align: center;
    background-color: #424254;
}

.flex-nav-right {
    text-align: right;
}