main{
    display: block;
    unicode-bidi: isolate;
}

body {
    background-color: #1C1C1F;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

input[type=text] {
    background-color:#333;
    background-image: url('../media/searchicon.png');
    background-repeat: no-repeat;

}

li {
    display: inline;
}

h1 {
    color: white;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
}

hr {
    border-top: 2px solid #eee;
    margin: 1rem 0;
}

strong {
    padding: 0 0.5rem;
    margin: 1rem 0 0;
    display: block;
}

.flex-grow {
    flex-grow: 1;
}

.max-w-6x1 {
    max-width: 72rem;
}

.w-full {
    width: 100%;
}

.max-w-xl {
    max-width: 36rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-4 {
    margin-top: 1rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.md\:my-24 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.md\:px-0 {
    padding-left: 0;
    padding-right: 0;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.relative {
    position: relative;
}

.center-content{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 72rem;
}

.logo-nav{
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
}

.logo-nav-column{
    flex: 1;
}

.logo-nav-right{
    text-align: right;
}

.logo-nav-center{
    text-align: center;
}

.flex-nav{
    display: flex;
    font-size: 18px;
}

.flex-nav-column {
    flex: 1;
}

.flex-nav-center {
    text-align: center;
}

.flex-nav-right {
    text-align: right;
}

.justify-between{
    justify-content: space-between;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.blue-text {
    color: rgb(96 165 250);
}

.font-bold {
    font-weight: 700;
}